
@{
    ViewBag.Title = "Index";
}

<h2>Colaborador/Projetos</h2>

<ul>
    <li>
        @Html.ActionLink("Incluir Tarefa", "IncluirTarefa")
    </li>
    <li>
        @Html.ActionLink("Listar Tarefas", "ListarTarefas")
    </li>
</ul>





