
@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Skills</h2>

<ul>
    <li>
        @Html.ActionLink("Cadastrar Skill", "CadastrarSkill")
    </li>
    <li>
        @Html.ActionLink("Listar Skills", "ListarSkills")
    </li>
</ul>