@model Project.Manager.Models.Skill

@{
    ViewBag.Title = "MostrarDetalhes";
}

<h2>Detalhes</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoSkill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSkill)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Voltar para a lista", "ListarSkills")
</p>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>