
@{
    ViewBag.Title = "Index";
}

<h2>Colaboradores</h2>

<ul>
    <li>
        @Html.ActionLink("Incluir Colaborador", "IncluirColaborador")        
    </li>
    <li>
        @Html.ActionLink("Lista de Colaboradores", "ListarColaboradores")
    </li>
</ul>