body {
    height: 100vh;
    background: rgb(39,35,106);
    background: linear-gradient(90deg, rgba(39,35,106,1) 0%, rgba(74,74,218,1) 47%, rgba(109,164,175,1) 100%);
}

.div-cadastro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 10px;

}

footer {
    position: absolute;
    bottom: 0;
    right: 42.5%;
}
