
@{
    ViewBag.Title = "Index";
}
@*<div class="col-lg-4">

    </div>*@

<h2>Gestão e Desenvolvimento de Projetos - Mttechne</h2>

<div class="row">
    <div class="col-md-7" style="width: 500px;">
        <div class="thumbnail">
            <img src="~/Imagens/ImagemIndexProject.svg" />
            <div class="caption">
                <h3>Gestão de Projetos</h3>
                <p>O controle do projeto em suas mãos.</p>

            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="thumbnail">
            <img src="~/Imagens/ImagemIndex_02.svg" />
            <div class="caption">
                <h3>Praticidade e Soluções</h3>
                <p>Tecnologia para os negócios.</p>

            </div>
        </div>
    </div>

</div>


@*<img src="~/Imagens/GestãoProjetos07.jpeg" width="1130" height="450" />*@

