
@{
    ViewBag.Title = "Index";
}

<h2>Controle de Ponto</h2>

<ul>
    <li>
        @Html.ActionLink("Incluir Cadastro de Ponto", "IncluirControle")
    </li>
    <li>
        @Html.ActionLink("Mostrar Cadastro de Ponto", "ListarPontos")
    </li>
</ul>